<!-- database project start -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Database Project</title>
        <link rel="stylesheet" type="text/css" href="/index.css">
    </head>
    <body>
        <header>
            
        </header>
        <div>
                <span><%=title[0]%></span>
        </div>
    </body>
</html>